.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container p {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;

    white-space: nowrap;

    transition: 0.5s;
    opacity: 1;
    color: var(--primary-03);
}

.container.rename p,
.container.rename svg {
    opacity: 0;
    display: none;
}

.container input {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;

    background: none;
    display: flex;
    outline: none;
    box-shadow: none;
    border: none;

    white-space: nowrap;
    width: 15rem;

    text-align: center;

    color: var(--primary-02);
}

.container input::placeholder {
    color: var(--primary-03);
}

.container:not(.rename) input {
    cursor: default;
}

.container svg {
    cursor: pointer;
}

@media (min-width: 1024px) {
    .container p {
        font-size: 1.8rem;
    }

    .container input {
        font-size: 2.8rem;
        width: 20rem;
    }
}