.holder {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    padding-block: 2.5rem;
    min-height: 100vh;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0.85);
    /* backdrop-filter: blur(5px); */

    transition: 0.5s;
    overflow: hidden;

    z-index: 9;
}

.holder.noBackground {
    background: transparent;
}

.holder.noContainer .container {
    background: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.5rem;
    gap: 2.5rem;

    align-self: center;

    width: fit-content;
    max-width: 90vw;

    text-align: left;

    background: linear-gradient(
        180deg,
        var(--background-02) 0%,
        var(--background-modal) 100%
    );
    backdrop-filter: blur(25px);
    border-radius: 2rem;

    z-index: 10;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    width: 100%;
}

.headerContainer h2 {
    font-family: var(--font-gelasio);
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;

    white-space: pre-line;

    width: 100%;
    color: var(--primary-01);
}

.headerContainer p {
    font-family: "var(--font-judson)";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;

    white-space: pre-line;
    width: 100%;

    color: var(--font-light);
}

.container .divisor {
    width: 10rem;
    height: 1px;
    background: var(--primary-01);
    opacity: 0.5;
}

@media (min-width: 1024px) {
    .holder {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
    }

    .container {
        width: 57.5rem;
    }

    .holder.background {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }
}
