.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 3rem;
    gap: 1rem;

    color: var(--neutral);
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;

    background: var(--primary-02);
    border: 1px solid var(--primary-03);
    border-radius: 0.8rem;

    transition: 350ms;
    cursor: pointer;
}

.button.disabled {
    background: var(--light-gray);
    color: var(--font-light);
    border: none;
    cursor: not-allowed;
}

.button:not(.disabled):hover {
    background-color: var(--primary-01);
    outline: 2px solid var(--primary-02);
}

.button svg {
    transition: 250ms;
}

.button.iconRigth:hover svg {
    transform: translateX(0.5rem);
}

.button:active {
    outline: 1px solid var(--neutral);
}

.button.iconRigth:active svg {
    transform: translateX(2rem);
}