:root {
    font-size: 62.5%;
    /*  100% ----- 16px
        x  ------- 10px
        1rem = 10px */

    color-scheme: light dark;

    --primary-01: #FF2626;
    --primary-02: #FF3D3D;
    --primary-03: #FD7979;

    --font-dark: #141414;
    --font-light: #918C8C;
    --font-light-02: #797979;

    --neutral: #FFFFFF;
    --light-gray: #D9D9D9;

    --background-01: #F8EAEA;

    --header-height: 8.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    overflow-y: overlay;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.hide main,
div.hide footer,
div.hide header,
div.hide section {
    opacity: 0;
}

div.hide>* {
    transition: 1s;
}

div.hide {
    user-select: none;
    overflow-y: hidden;
}

.imageContain {
    object-fit: cover;
}

.modalFooterHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.modalFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    width: 100%;

    transition: 150ms;
}

.modalFooter:hover {
    transform: scale(1.05);
}

.modalFooter p {
    font-family: 'Arial';
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;

    vertical-align: middle;

    color: var(--primary-01);
}

.modalFooter svg {
    fill: var(--primary-01);
    width: 1.8rem;
    height: 1.8rem;
}

.divisor {
    width: 10rem;
    border: 1px solid var(--primary-01);
    border-radius: 1rem;
}

.divisor.vertical {
    width: 1px;
    height: 2rem;
    min-height: 100%;
    border: 1px solid var(--primary-01);
    border-radius: 1rem;
}

.link {
    line-break: anywhere;
}

.link:hover {
    text-decoration: underline;
}

.click {
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.05);
}

@media (min-width: 1024px) {
    .scroll::-webkit-scrollbar {
        width: 1rem;
    }

    .scroll::-webkit-scrollbar-track {
        background: transparent;
        opacity: 0;
    }

    /* Handle */
    .scroll::-webkit-scrollbar-thumb {
        background: var(--primary-03);
        border-radius: 1rem;
        opacity: 0.5;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: var(--font-light);
        background: var(--background-01);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: var(--font-light);
        background: var(--background-01);
    }
}