.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 112.5vh;
    width: 100%;

    position: relative;

    overflow-y: hidden;
    overflow-x: hidden;
}

/* HEADER */

.container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 3.5rem;

    z-index: 3;
}

.container header a {
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    color: var(--primary-03);
    font-size: 1.4rem;
}

/* MAIN */
.container main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;

    position: relative;
    height: 100vh;
    width: 100%;
}

.container main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100%;

    gap: 3rem;
}

.container main .content p {
    font-family: 'Judson', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;

    color: var(--primary-03);
}

.container main .content p:nth-child(3) {
    font-size: 2.4rem;
}

.hint {
    position: absolute;
    width: 75vw;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

/* FOOTER */
.container footer {
    width: 100%;
    height: 12.5vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0px 2.5rem;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 8;

    background-color: var(--primary-03);
}

.container footer .footerLogo {
    display: none;
}

.container footer .footerLogo path {
    fill: var(--neutral);
}

.container footer p {
    font-family: 'Judson', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;

    margin: 0;

    text-align: right;
    color: var(--neutral);
}

.imageHolder {
    display: none;
    z-index: 2;
    transform: scaleX(-1);
}

@media (min-width: 1024px) {
    .imageHolder {
        display: flex;
    }

    .container header {
        padding: 3.5rem 7.5rem;
    }

    .container main {
        padding-inline: 11.5rem;
    }


    .container footer {
        justify-content: space-between;
        padding: 0px 7.5rem;
    }

    .container footer .footerLogo {
        display: flex;
    }

    .hint {
        width: fit-content;
    }
}