.background {
    width: 100vw;
    height: 100vh;

    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    transform: translateZ(0);

    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2.5px);

    transition: 0.5s;
    z-index: 10;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.5rem 6rem;
    gap: 3.5rem;

    max-height: 90vh;
    width: fit-content;
    max-width: 90vw;

    overflow-y: overlay;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.75) 100%);
    backdrop-filter: blur(25px);
    border-radius: 1.5rem;

    z-index: 15;
}

.logo svg {
    height: 3.5rem;
}

.iconHolder {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    border-radius: 0.5rem;

    background-color: var(--primary-01);
}

.container .title {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.6rem;
    width: 100%;
    text-align: center;

    color: var(--primary-01);
}

.container .description {
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    color: var(--font-light-02);
    width: 100%;

    white-space: pre-line;
}

.buttonsHolder {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    flex-wrap: wrap-reverse;

    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px) {
    .container {
        width: 57.6rem;
        padding: 5rem;
    }

    .container::-webkit-scrollbar {
        width: 1rem;
    }

    .container::-webkit-scrollbar-track {
        background: var(--background-02);
        opacity: 0;
    }

    /* Handle */
    .container::-webkit-scrollbar-thumb {
        background: var(--primary-04);
        border-radius: 1rem;
        opacity: 0.5;
    }

    .buttonsHolder {
        flex-wrap: nowrap;
    }
}