.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	transition: 150ms;

	/* height: 100%; */
	height: max-content;
	flex-grow: 1;

	/* height: 100%; */
	/* remover esse height torna o conteúdo de tamanho ilimitado, estando a segunda coluna no position: sticky */
	/* no entanto, o zoom na página se limit ao vh, o que não é ideal */
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: var(--dashboard-wrapper);

	width: 100%;
	height: max-content;
	flex-grow: 1;
	position: relative;

	gap: 2.5rem;
}

.content .title {
	font-family: var(--font-gelasio);
	font-style: normal;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 3rem;
	color: var(--primary-02);
}

.column {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;

	width: 100%;

	gap: 2.5rem;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 100%;
	gap: 2.5rem;
}

.events {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	width: 100%;
	height: fit-content;

	padding-bottom: 3.5rem;

	justify-items: center;
	align-items: center;
}

.events.empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	max-width: 45vw;
	align-self: center;
	justify-self: center;
}

@media (min-width: 1024px) {
	.events {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.content {
		padding: 3.5rem var(--dashboard-wrapper);
	}

	.content.row {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}
}
