.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.5rem 5rem;


    gap: 2.5rem;
}

.content h2 {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    color: var(--primary-02);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2.5rem;
}

.guestsHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: 100%;

    padding: 1.5rem;

    border: 1px dashed var(--primary-01);
    border-radius: 0.5rem;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    gap: 2.5rem;
}

@media (min-width: 1024px) {
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 5rem;
        gap: 2.5rem;
    }

    .column {
        height: 100%;
    }
}