.guestsHolder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: 100%;
    min-height: 25rem;

    overflow-y: scroll;

    border: 1px dashed var(--primary-01);
    border-radius: 0.5rem;
}

.guestsHolder.empty {
    overflow-y: hidden;
    justify-content: center;
}

.guestPreview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 1.5rem;

    flex-wrap: wrap;
    cursor: pointer;

    width: 100%;

    background: linear-gradient(90deg, var(--primary-01) 0%, var(--primary-02) 100%);
    border-radius: 0.5rem;
}

.guestPreview .guestInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
}

.guestPreview p {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;

    color: var(--neutral);
}

.guestPreview .iconHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;

    opacity: 0.7;
}

.guestPreview .iconHolder span {
    font-family: 'Judson';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;

    color: var(--neutral);
}

.guestPreview .actions svg {
    cursor: pointer;
}

.actions {
    display: none;
}

@media (min-width: 1024px) {
    .guestsHolder {
        padding: 1.5rem;
    }

    .actions {
        display: flex;
    }
}